
@media only screen 
    and (min-device-width : 1000px) 
    {
    	
    	.homeaction{
    		bottom: 2px;

    	}
    	h1 {
            font-size: 3.3em;
            color: #990000;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
        }

        h2{
            font-size: 2.5em;
            color: #a64d79;
            text-align: center;
            text-transform: uppercase;
            
        }
        p{
            font-size: 1.5em;
            font-weight: lighter;
            color: #ccc;
            padding: 5%;
        }
        .castncrew-image{
            width: 100%;
            height: 90%;
            overflow: hidden;
        }
        .castncrew-image img {
            width:100%;
            height: 100%;
            overflow: hidden;
        }
    	#home_title_mobile {
    		visibility: hidden;
    	}
    	#home_title_desktop {
            visibility: visible;
            font-size: 2.2em;
            left: 70px;
            
        }
        #vagmocircle{
            top: 0px;
            padding-top: 15px;
            visibility: hidden;
        
        }
    	.navbarholder{
    		right: 15px;
    		font-size: 1em;
    	}

        .gallery_header{
            margin-top: 100px;
        }
        
       .gallery_holder{
            width: 100%;
            max-width: 100%;
            position: relative;
        }

        


    }
