@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	margin: 5px;
	background-color: #fff;
	margin: 0px 0px 0px 0px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;*/
	
}
h2{
	font-family: 'Montserrat';
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;*/
	
}

p{
	/*font-family: 'Montserrat';
	font-weight:lighter;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
	
}


.page{
	background-color: transparent;
	max-width: 980px;
	max-height:inherit;	
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
	max-height: 100%;
}
.container{
	padding-right: 0;
	padding-left: 0;
}

.buttonvm {
  color: #fff;
  font-size: 1.3em;
  font-family: 'Droid Sans Mono';
  border-radius: 15%;
  background-color: #000;
  opacity: 0.8;
  border-color: #fff;
  border-style: solid;
  opacity: 0.7;
  border-spacing: 1px;
  border-width: 2px;
  
}

.buttonvm:hover,
.buttonvm.hover {
  background-color: #000;
  opacity: 0.8;
  border-color: #fff;
  color: #fff;
  
}

.buttonvm:active,
.buttonvm.active {
  background-color: #fff;
  color: #000;
  text-shadow: -1px 1px #193047;
}

